<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">All Projects!</a>
    <button (click)="collapsed = !collapsed"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActive]="''" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="elements">Elements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="collections">Collections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="views">Views</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="modules">Modules</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      
    </div>
    
  </nav>
