<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of headers; let i = index">{{header.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of data; let i = index">
        <td>{{info.name}}</td>
        <td>{{info.age}}</td>
        <td>{{info.job}}</td>
      </tr>
      <tr *ngFor="let info of data">
          <td *ngFor="let header of headers">
              {{info[header.key]}}
          </td>

      </tr>
    </tbody>
  </table>
